/* par felix-Xavier Guevin */
/* style.css */
/* le 09/09/2021 */

html, body {
   height: 100%;
   width: 100%;
   
}

#Container {
   display: flex;  
   justify-content: space-between;
   height: 100%;
   font-size: 3em;
    
}

nav {
   flex-grow: 1;
   background-color: red;
}

#contenu  {
   flex-grow: 5;
   display: flex;
   flex-direction: column;
}

#Article {
   display: flex;
   flex-basis: 60vh;
}

#Article > article {
   flex-grow: 3;
   background-color: indigo;
}

#Article >aside {
   flex-grow: 1;
   background-color: hotpink;
}

#contenu > header, #contenu > footer {
   background-color: gold;
   flex-basis: 20vh;
}


